# on:
#   push:
#     branches: [master]
on:
  release:
    types: [created]

# jobs:
#   publish-npm:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v2
#       - uses: actions/setup-node@v2
#         with:
#           node-version: 12
#           registry-url: https://registry.npmjs.org/
#       - run: npm install
#       - run: npm run build
#       - run: git push origin master --tags && npm run build && npm publish --access=public
#         env:
#           NODE_AUTH_TOKEN: ${{secrets.npm_token}}
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 10
      - run: npm install
      # - run: npm test a
      - run: npm run build
      - run: npm run build:docs
      - uses: JS-DevTools/npm-publish@v1
        with:
          access: 'public'
          token: ${{secrets.npm_token}}
